include includes/head.pug


p=present
img#avatarfinal(src=image alt='')

section
  #fenetreDeJeu
    //- #numQuestion=question.id
    #theme=question.theme
    #question=question.question
    #reponseA=question.propositions[0]
    #reponseB=question.propositions[1]
    #reponseC=question.propositions[2]
    #reponseD=question.propositions[3]
    #responseFinal=question.reponse
    #anecdote=question.anecdote



include includes/footer.pug    